/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap'); 


body {
    font-family: 'Oswald', sans-serif;
}

/* NAVBAR */

.my-navbar {
    background: linear-gradient(68.15deg, #0e1f36 19.62%, #194b91 85.61%);
    padding: 0 5%;
}

#logo-title {
    font-size: 30px;
    text-decoration: none;
}

.my-navbar a {
    font-size: 25px;
}

#content {
    font-family: 'Open Sans', sans-serif;
}

.content-box {
    max-height: 300px;
}

.loading{
    margin: 0 auto;
}

.materia:hover {
    box-shadow: 1px 3px, 5px rgba(0, 0, 0, 0.1);
}

.materia a {
    text-decoration: none;
}

.materia h3, p {
    color: #393b3d;
}


.caixa-materia p {
    font-size: 25px;
}